spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/trading_journal
    username: postgres
    password: anafin2005

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
